body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}

header {
  background: #1f2937;
  color: white;
  padding: 0 20px 20px 20px; /* top right bottom left */
}


nav {
  background: #111827;
  padding: 10px;
  display: flex;
  gap: 15px;
  justify-content: top;
  flex-wrap: wrap;
}

nav button {
  background: #374151;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background: #2563eb;
}

section {
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
}
